In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dataset= pd.read_csv('data/50_Startups.csv')

In [5]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [7]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB

In [10]:
dataset.isnull()

    R&D Spend  Administration  Marketing Spend  State  Profit
0       False           False            False  False   False
1       False           False            False  False   False
2       False           False            False  False   False
3       False           False            False  False   False
4       False           False            False  False   False
5       False           False            False  False   False
6       False           False            False  False   False
7       False           False            False  False   False
8       False           False            False  False   False
9       False           False            False  False   False
10      False           False            False  False   False
11      False           False            False  False   False
12      False           False            False  False   False
13      False           False            False  False   False
14      False           False            False  False   False
15      False           False            False  False   False
16      False           False            False  False   False
17      False           False            False  False   False
18      False           False            False  False   False
19      False           False            False  False   False
20      False           False            False  False   False
21      False           False            False  False   False
22      False           False            False  False   False
23      False           False            False  False   False
24      False           False            False  False   False
25      False           False            False  False   False
26      False           False            False  False   False
27      False           False            False  False   False
28      False           False            False  False   False
29      False           False            False  False   False
30      False           False            False  False   False
31      False           False            False  False   False
32      False           False            False  False   False
33      False           False            False  False   False
34      False           False            False  False   False
35      False           False            False  False   False
36      False           False            False  False   False
37      False           False            False  False   False
38      False           False            False  False   False
39      False           False            False  False   False
40      False           False            False  False   False
41      False           False            False  False   False
42      False           False            False  False   False
43      False           False            False  False   False
44      False           False            False  False   False
45      False           False            False  False   False
46      False           False            False  False   False
47      False           False            False  False   False
48      False           False            False  False   False
49      False           False            False  False   False

In [36]:
x=dataset.loc[:,['R&D Spend','Administration','Marketing Spend']].values

In [34]:
x

array([[165349.2 , 136897.8 , 471784.1 ],
       [162597.7 , 151377.59, 443898.53],
       [153441.51, 101145.55, 407934.54],
       [144372.41, 118671.85, 383199.62],
       [142107.34,  91391.77, 366168.42],
       [131876.9 ,  99814.71, 362861.36],
       [134615.46, 147198.87, 127716.82],
       [130298.13, 145530.06, 323876.68],
       [120542.52, 148718.95, 311613.29],
       [123334.88, 108679.17, 304981.62],
       [101913.08, 110594.11, 229160.95],
       [100671.96,  91790.61, 249744.55],
       [ 93863.75, 127320.38, 249839.44],
       [ 91992.39, 135495.07, 252664.93],
       [119943.24, 156547.42, 256512.92],
       [114523.61, 122616.84, 261776.23],
       [ 78013.11, 121597.55, 264346.06],
       [ 94657.16, 145077.58, 282574.31],
       [ 91749.16, 114175.79, 294919.57],
       [ 86419.7 , 153514.11,      0.  ],
       [ 76253.86, 113867.3 , 298664.47],
       [ 78389.47, 153773.43, 299737.29],
       [ 73994.56, 122782.75, 303319.26],
       [ 67532.53, 105751.03, 304768.73],
       [ 77044.01,  99281.34, 140574.81],
       [ 64664.71, 139553.16, 137962.62],
       [ 75328.87, 144135.98, 134050.07],
       [ 72107.6 , 127864.55, 353183.81],
       [ 66051.52, 182645.56, 118148.2 ],
       [ 65605.48, 153032.06, 107138.38],
       [ 61994.48, 115641.28,  91131.24],
       [ 61136.38, 152701.92,  88218.23],
       [ 63408.86, 129219.61,  46085.25],
       [ 55493.95, 103057.49, 214634.81],
       [ 46426.07, 157693.92, 210797.67],
       [ 46014.02,  85047.44, 205517.64],
       [ 28663.76, 127056.21, 201126.82],
       [ 44069.95,  51283.14, 197029.42],
       [ 20229.59,  65947.93, 185265.1 ],
       [ 38558.51,  82982.09, 174999.3 ],
       [ 28754.33, 118546.05, 172795.67],
       [ 27892.92,  84710.77, 164470.71],
       [ 23640.93,  96189.63, 148001.11],
       [ 15505.73, 127382.3 ,  35534.17],
       [ 22177.74, 154806.14,  28334.72],
       [  1000.23, 124153.04,   1903.93],
       [  1315.46, 115816.21, 297114.46],
       [     0.  , 135426.92,      0.  ],
       [   542.05,  51743.15,      0.  ],
       [     0.  , 116983.8 ,  45173.06]])

In [39]:
y=dataset.iloc[:,4].values

In [41]:
y

array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
       156122.51, 155752.6 , 152211.77, 149759.96, 146121.95, 144259.4 ,
       141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
       124266.9 , 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
       108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59,  97483.56,  97427.84,  96778.92,  96712.8 ,  96479.51,
        90708.19,  89949.14,  81229.06,  81005.76,  78239.91,  77798.83,
        71498.49,  69758.98,  65200.33,  64926.08,  49490.75,  42559.73,
        35673.41,  14681.4 ])

In [46]:
dataset.loc[:5,'Administration']

0    136897.80
1    151377.59
2    101145.55
3    118671.85
4     91391.77
5     99814.71
Name: Administration, dtype: float64

In [49]:
x.shape, y.shape

((50, 3), (50,))

In [79]:
from sklearn.cross_validation import train_test_split

In [78]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size = 0.10, random_state = 0)

In [58]:
from sklearn.linear_model import LinearRegression

In [59]:
value = LinearRegression()

In [80]:
value.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [81]:
y_test_pred =value.predict(x_val)